/*FOOTER*/

.about__title{
    font-size: 15px;
}

.about__texto {
    font-size: 12px;
}

.contacto__title{
    font-size: 15px;
}

.contacto__texto{
    font-size: 12px;
}

.quickLinks__title{
    font-size: 15px;
}

.footer-item{
    font-size: 10px;
    padding-left: 115px;
}

.footer-link{
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.footer-link:hover{
    color: #E0FF00;
}

.redes__title{
    font-size: 15px;
}